############################################################################
# Seven Segment Display
############################################################################
NET "SevenSegment[8]" LOC = P117 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "SevenSegment[7]" LOC = P116 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "SevenSegment[6]" LOC = P115 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "SevenSegment[5]" LOC = P114 | IOSTANDARD = LVTTL | DRIVE = 8 |
Emmil Mendoza
PID 5675263
Assignment 3
EEL 4740
SLEW = FAST ;
NET "SevenSegment[4]" LOC = P113 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "SevenSegment[3]" LOC = P112 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "SevenSegment[2]" LOC = P111 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "SevenSegment[1]" LOC = P110 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;
NET "Enable" LOC = P120 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST ;

############################################################################
# DP Switches
############################################################################
NET "DPSwitch[1]" LOC = P70 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST | PULLUP ;
NET "DPSwitch[2]" LOC = P69 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST | PULLUP ;
NET "DPSwitch[3]" LOC = P68 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST | PULLUP ;
NET "DPSwitch[4]" LOC = P64 | IOSTANDARD = LVTTL | DRIVE = 8 |
SLEW = FAST | PULLUP ;
